.head-piture {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#sidebar {
    float:left;
}
#main-section {
    width:862px;
    float:center;
    margin-left:300px; 
}
