<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="AddCFM" enabled="true">
                    <match url=".*" negate="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.php" />
                </rule>
            </rules> 
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.html" />
                <add value="Default.asp" />
                <add value="index.pl" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <clear />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
